html{
    font-size: 20px;
}
body{
    
    background-color: #E9ECEF !important;
}



.jum1{
    color: white;
    background-image: url("../img/harita.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 60vh;
}
.jum3{
    color: white;
    background-image: url("../img/aboutus.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 60vh;
}
.jum4{
    color: white;
    background-image: url("../img/hizmetlerimiz.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 60vh;
}
.jum5{
    color: white;
    background-image: url("../img/contact.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 60vh;
}


.container{
    
    padding: 0px !important;
    width: 90% !important;
    margin: auto;
}

.nav-link:hover{
    color:white !important;
    background-color: #3C5B91

}
.card img{
    height: 200px;
}
.jum2{
    margin-top: 50px;
    color: white;
    background-image: url("../img/world-map.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 800px !important;
}
.ticaret{
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
}
